/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$background-color: #fffffb !default; // 배경색
$text-color: #7e6f6a !default; // 폰트색
$primary-color: #a69b97 !default; // 주 컨셉 색깔(상단 메뉴바의 밑줄, 목차 등)
$footer-background-color: #a69b97 /* mix(#000, $background-color, 25%)*/ !default; // footer 색
$link-color: #7e6f6a !default; // 링크색(글 제목)
